@import "../node_modules/bootstrap/scss/functions";

$primary: rgb(235, 102, 124);

@import "../node_modules/bootstrap/scss/variables";

$font-sizes: map-merge(
  $font-sizes,
  (
    7: $font-size-base * 0.8,
    8: $font-size-base * 0.7,
  )
);

$utilities-text-colors: map-merge(
  $utilities-text-colors,
  (
    "gray-700": $gray-700,
    "primary-pink": $primary,
  )
);

$utilities-bg-colors: map-merge(
  $utilities-bg-colors,
  (
    "line": pink,
  )
);

@import "../node_modules/bootstrap/scss/utilities";

// utility 擴充
$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                "2px": 2px,
                "20px": 20px,
                "50px": 50px,
              )
            ),
        )
      ),
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "height"), "values"),
              (
                "50px": 50px,
                "80px": 80px,
                "200px": 200px,
                "500px": 500px,
              )
            ),
        )
      ),
  )
);

// utility 自定義
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      values: pointer,
    ),
    "transform": (
      property: transform,
      values: (
        rotate-180: rotate(180deg),
      ),
    ),
    "transition": (
      property: transition,
      values: (
        transform: transform 0.2s,
      ),
    ),
  )
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
